body{
background-image: radial-gradient(circle,blue,cornflowerblue,aqua);

color:white;
text-align:center;
}

#B{
background-color:cornflowerblue;
width: 200px;
height:40px;
}

#O{
font-size: 30px;;
}

#d{
width: 1080px;
height: 30px;;

background-image: radial-gradient(circle,blue,cornflowerblue,aqua);
border-radius:10px;;

font-size:20px;
}
